[2018-03-20 07:51] SylvainLan opened #20 "Low rank constraint with highly rectangular matrix"
Hello,

I would like to solve a low rank relaxed problem of the kind :

`||Ex-y||^2 + ||x||_*`

Where my data x is of shape (N,M) where N is typically 128*128 and M 32.

When I'm using the LowRankMatrix proximity in ModOpt I get a MemoryError because scipy tries to calculate the full svd and therefore wants to build a 128^^4 matrix, which I can't store.

I was wondering if I could change the way t

[2018-04-06 19:03] sfarrens commented on #20
Issue closed following merge of PR #21

[2018-04-06 19:03] #20 closed

[2019-02-19 17:27] zaccharieramzi opened #32 "Lazy-start FISTA"
Implement the ideas of [Chambolle & Dossal](https://dl.acm.org/citation.cfm?id=2813581) and [Liang & Schonlieb](https://arxiv.org/abs/1811.01430) when it comes to the update of the `t_k` variable in the FISTA algorithm.

[2019-03-08 09:34] sfarrens commented on #32
Resolved in #33

[2019-03-08 09:34] #32 closed

[2019-03-11 13:33] zaccharieramzi opened #34 "Restarting FISTA"
We could implement the different ideas of [Liang and Schonlieb](https://arxiv.org/abs/1811.01430) for the restarting of FISTA (adaptive and greedy).

[2019-03-15 12:49] sfarrens commented on #34
Resolved in #35

[2019-03-15 12:49] #34 closed

[2019-03-15 13:52] zaccharieramzi opened #36 "Proximity operator of the composition with a linear function"
This would be needed to have a FISTA with the analysis point of view.

The computation is done in the paper by [Combettes and Wajs](https://pdfs.semanticscholar.org/5697/4187b4d9a8757f4d8a6fd6facc8b4ad08240.pdf).

[2019-03-15 15:36] sfarrens commented on #36
Resolved in #37

[2019-03-15 15:36] #36 closed

[2019-03-20 13:27] zaccharieramzi opened #38 "Implement the POGM algorithm"
The [POGM algorithm](https://link.springer.com/article/10.1007/s10957-018-1287-4) has been found to be the best algorithm to apply to a synthesis formulation of the MRI reconstruction problem in a [recent benchmark](https://arxiv.org/pdf/1903.03510.pdf).

Having it as one of the algorithm in our repo could be very useful for benchmarking.

[2019-03-20 13:30] zaccharieramzi opened #39 "Replace the dot by vdot in the FISTA restarting criterion"
The restarting FISTA implemented in #35 has a flaw in that it doesn't compute a proper inner product because it doesn't use the conjugate.

This can be done by replacing `dot` by `vdot` (and will also allow us to not flatten the matrices ourselves).

[2019-03-26 14:58] sfarrens commented on #39
Resolved in #40

[2019-03-26 14:59] #39 closed

[2019-03-27 09:46] sfarrens commented on #38
Resolved in #41

[2019-03-27 09:46] #38 closed

[2019-04-05 14:45] zaccharieramzi opened #43 "Warning for get_mr_filters"
When getting the wavelet filters using the `sparse2d` wrappers, we get the following warning:
[code]

[2019-04-06 07:29] zaccharieramzi opened #44 "Typo in Condat docs"
There is a typo in the docs of the Condat-Vu algorithm. [When referencing the paper](https://github.com/CEA-COSMIC/ModOpt/blob/master/modopt/opt/algorithms.py#L867), it says that it implements the algorithm 10.7. But there is no such algorithm [in the paper](https://www.gipsa-lab.grenoble-inp.fr/~laurent.condat/publis/Condat-optim-JOTA-2013.pdf). My guess it it's because the [forward backward impl

[2019-04-11 15:32] zaccharieramzi opened #45 "Implement FAASTA"
The [FAASTA](https://arxiv.org/pdf/1512.06999.pdf) algorithm allows us to perform a FISTA algorithm in the analysis formulation. In our case we could see if the FAASTA still performs well with the [new restarting options](https://github.com/CEA-COSMIC/ModOpt/issues/34).

Since the FISTA with an orthogonal transform is way faster than the Condat-Vu, we are going to see now if this holds true even w

[2019-04-17 15:24] MorganSchmitz opened #46 "Make progressbar optional in optim algorithms"
so you can run them 100% quietly

[2019-04-18 08:37] zaccharieramzi commented on #46
Are you taking care of it? I would also benefit from it, so I can do it if you don't.

[2019-04-18 09:04] sfarrens commented on #46
@zaccharieramzi I was planning to resolve this next week, before the SILICOSMIC meeting, but you are welcome to submit a PR for this before then if you want.

[2019-04-26 12:03] sfarrens commented on #43
Resolved in #47

[2019-04-26 12:03] #43 closed

[2019-04-26 12:04] sfarrens commented on #44
Resolved in #47

[2019-04-26 12:05] #44 closed

[2019-04-26 12:06] sfarrens commented on #46
Resolved in #47, simply pass argument `progress=False` to any algorithm.

[2019-04-26 12:06] #46 closed

[2019-04-26 12:06] sfarrens commented on #45
@zaccharieramzi are you planning a PR for this issue?

[2019-04-26 13:46] zaccharieramzi commented on #45
Yes I am. I am currently working on the best way to package it but it's basically done. Do you want to have a WIP PR to see if the direction is statisfying?

[2019-04-26 16:42] LElgueddari opened #48 "Implementing the Ordered Weighted l1-norm proximity operator"
It would be great to have the [Ordered Weighted L1-norm](https://arxiv.org/pdf/1409.4271.pdf) proximity operator implemented in ModOpt. This norm is known to have good statistical properties as a sparsity promoting regularizer and also to be the generalization of the [Octagonal Shrinkage and Clustering Algorithm for Regression](https://pdfs.semanticscholar.org/2655/31298885e589ad6613173b5c5cb08cf7

[2019-05-02 09:17] zaccharieramzi opened #49 "[NEW FEATURE] Parallelize filter_convolve"
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when I run the [`filter_convolve`](https://github.com/CEA-COSMIC/ModOpt/blob/master/modopt/signal/wavelet.py#L172) function on big images (`512 x 512`), because it takes a lot of time.
Example: 412 ms (measured with `%%timeit`) for a starlet transform with 4 levels of decomposition (without the coarse scale).

[2019-05-03 10:15] zaccharieramzi opened #50 "[NEW FEATURE] Trim filters to the minimum in get_mr_filters"
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when using `get_mr_filters` because it gives me huge filters if I have a huge `data_shape` (in my case `(512, 512)`). The convolution then takes so much time.

**Describe the solution you'd like**
I would like the filters to be trimmed to the minimum so that the convolutions take less time (also it would addit

[2019-05-03 14:40] sfarrens commented on #50
Resolved in #51

[2019-05-03 14:40] #50 closed

[2019-05-09 08:33] zaccharieramzi commented on #49
The operations that we have at hand are too small to benefit greatly from parallelizing. I suggest dropping that idea.
The `filter_convolve` is now faster thanks to the trimming (see #50 ). I think the way to go to accelerate even further would be to use tensorflow, to leverage parallel convolution and sparse convolution, but this is I think a bit of a stretch right now.

I also tried `convolve` i

[2019-05-09 08:33] #49 closed

[2019-05-09 08:38] zaccharieramzi commented on #45
@sfarrens even with the trimming (#50 ), the FAASTA is still way slower than Condat for reconstruction problems with undecimated wavelets. Should we still have it in Modopt?

[2019-05-09 08:44] sfarrens commented on #45
@zaccharieramzi I think having a diverse set of reconstruction algorithms would be useful regardless. So if you have already implemented it then feel free to open a PR.

[2019-05-09 08:45] zaccharieramzi commented on #45
Ok I will package it in a PR.

[2019-05-15 17:56] MorganSchmitz opened #53 "FISTA has no progress option?"
follow-up on #46: when passing on the `progress` kwarg to `FISTA`, it crashes.

I believe this is because FISTA inherits `object` and not `SetUp`...?
https://github.com/CEA-COSMIC/ModOpt/blob/master/modopt/opt/algorithms.py#L224

Sorry if I'm completely off!

[code]

[2019-05-15 20:09] zaccharieramzi commented on #53
Actually the problem is that we pass all the `kwargs` of `ForwardBackward` to `FISTA`. We should probably accept some `dummy_kwargs` in `FISTA` to account for that, like what we did for `SetUp` (see for insights: [this](https://github.com/CEA-COSMIC/ModOpt/pull/47#discussion_r278884742) and [this](https://github.com/CEA-COSMIC/ModOpt/pull/47#discussion_r278909072)).

[2019-05-15 20:11] zaccharieramzi commented on #53
`FISTA` shouldn't inherit `SetUp` as it is not an algorithm in the sense defined in that module. It is more a helper class in charge of computing the different parameter updates that may occur in the forward-backward.

[2019-06-04 11:45] sfarrens commented on #53
This issues appears to be resolved, closing.

[2019-06-12 08:53] zaccharieramzi opened #54 "[BUG] wavelet filters getting returning FileNotFoundError when using T option incorrectly"
**System setup**
OS: ubuntu v16.04.10
Python version: v3.6.7

**Describe the bug**
When trying to get the wavelet filters using the `'-T'` option, we get a `FileNotFoundError`, coming from the fact that the results have not been produced. The file not found is e.g. `'./mr_temp_2019.06.12_10.45.27.mr'`.

**To Reproduce**
[code]
It doesn't work for Haar(`'-T 11'`) but even for Biorthogonal 7/9 filte

[2019-06-12 09:06] zaccharieramzi commented on #54
After further investigation, it is because of the following:
`Error: option -T and -L are only valid with Mallat transform ...`.
`mr_transform` returns an exit code 0, but there is actually an error, which is therefore not handled by ModOpt. I don't know what is the best solution for this. Probably allowing verbosity by printing the stdout of the `mr_transform` call (which is what I did to see thi

[2019-07-10 09:19] sfarrens commented on #54
This issue should be resolved by #55

[2019-07-10 12:53] sfarrens opened #56 "[NEW FEATURE] Drop support for Python < v3.5"
**Is your feature request related to a problem? Please describe.**
The current versions of basic Python packages (*e.g.* numpy, scipy, *etc.*) no longer support Python versions less than 3.5. We should therefore focus on supporting Python >= 3.5 and drop fixes/hacks for Python 2.7 and 3.4.

**Describe the solution you'd like**
- Set minimum dependency requirements to latest releases.
- Drop future

[2019-07-10 12:54] #54 closed

[2019-07-10 14:14] sfarrens commented on #56
Changes added in #57

[2019-07-23 15:22] chaithyagr commented on #53
Hey @sfarrens , I dont think this is resolved.
If I call:
`opt = ForwardBackward(
        x=X,
        grad=grad_op,
        prox=ProximityL2(C_kin),
        cost=None,
        auto_iterate=False,
        beta_param=beta,
        progress=False
        )`

I get the following issue still:
File "/home/chaithyagr/anaconda3/envs/pysap/lib/python3.7/site-packages/modopt-1.3.1-py3.7.egg/modopt/opt/algo

[2019-07-23 15:57] sfarrens commented on #53
@chaithyagr You are right. There was a small bug in init for the `FISTA` class. This should be resolved in #58.

[2019-07-23 16:02] chaithyagr commented on #53
Hmm, awesome, Ill pull in that and check my code..

[2019-07-24 08:24] sfarrens commented on #53
@chaithyagr The changes have been merged to the master and the latest version (1.3.3) is available on PyPi. Please confirm that this resolves your problem so that I can re-close this issue, thanks.

[2019-07-24 08:47] chaithyagr commented on #53
@sfarrens , I pulled the latest from git and ran codes.. Its working fine now.. Thanks!

[2019-07-24 08:49] #53 closed

[2019-07-24 16:12] chaithyagr opened #59 "[BUG] Progressbar parameter max_value -> maxval"
`if self.progress:
            with ProgressBar(redirect_stdout=True, max_value=max_iter) as bar:
                self._iterations(max_iter, bar=bar)
        else:
            self._iterations(max_iter)
`
I see that in progressbar it is maxval and not max_value , This is with python3.5 and progressbar version 2.5 .. Is this just version mismatch, as I already had things working fine on python3.6

[2019-07-29 09:09] zaccharieramzi commented on #59
I think it's because we are using `progressbar-2` and not `progressbar` (different package not version). See [these examples](https://progressbar-2.readthedocs.io/en/latest/examples.html) where they use `max_value`.

[2019-07-29 10:21] chaithyagr commented on #59
Ahh, as I pointed it is just a matter of version miss-match.. Given we are clear on what we are using, I dont there is anything that needs to be done here.. Thanks @zaccharieramzi . I will close this issue here, sorry for the unwanted bother..

[2019-07-29 10:21] #59 closed

[2019-08-05 12:29] #56 closed

[2019-09-12 15:51] chaithyagr opened #60 "[NEW FEATURE] GPU Versions of Optimization Algorithms"
**Describe the solution you'd like**
We would want to implement a GPU version of the algorithms, which would carry out complete descent on GPU without any switch to and fro from GPU to CPU.

**Describe alternatives you've considered**
Something similar to cdfit in https://github.com/rapidsai/cuml/blob/branch-0.10/cpp/src/solver/cd.h
This is a simple stochastic Gradient descent.

My ultimate goal i

[2019-09-13 07:52] chaithyagr commented on #60
Just noting options at this time.
We could go with pyCUDA, pyOpenCL (as it works on any GPU), NUMBA.

However, one recent project that caught my eye which is very helpful and will help us here is cuPY https://cupy.chainer.org/

CuPY is basically a numpy like a library with all the compute occurring in the GPU than on CPU

The reason I feel this is the best because:

1) Easy movement from GPU to CP

[2019-09-13 08:16] zaccharieramzi commented on #60
How about `pytorch`?

[2019-09-13 08:52] chaithyagr commented on #60
Yup that also is good, just that torch has a different API structure, so we could not ideally do same as numpy stuff. I'll take a deeper look into torch and try to get an idea of pros and cons just like with cupy.

Also and **edit to my earlier post**
[code]

Would this work? I mean we surely will have corner cases which we need to handle.

[2019-09-13 19:06] grlee77 commented on #60
I would second the recommendation for CuPy. It closely mirrors the numpy API, albeit with some holes in implementation here and there. There is also a smaller subset of SciPy's API available via the `cupy.cupyx.scipy` module. I think this makes it much easier to write code for NumPy first and then have it be fairly trivial to add CuPy support.

I don't have as much experience with pytorch, but I s

[2019-09-25 13:27] chaithyagr commented on #60
@sfarrens and I had a short discussion on this. Here is a brief summary:

We decided to move towards implementations with CuPy due to all the above advantages.

**Implementations:**
--------------------------
1) We divided the work into phases:

    a) **Phase 1 :**
      * Implement GPU version for Forward Backward optimization with Identity linear operator. Also, develop tests to test the speedu

[2019-09-25 13:32] chaithyagr opened #61 "GPU Implementation of Forward Backward Algorithm"
This issue tracks the major code changes to add support for the implementation of Forward-Backward Algorithm on GPU.
This will be the first phase as described in #60

[2019-09-25 13:51] sfarrens opened #62 "[NEW FEATURE] Automated profiling framework"
**Issue**

Implement an automated code profiling framework for ModOpt in order to test performance improvements. This framework needs to run on a GPU either remotely (*e.g.* Google Collab, Kaggle Kernels) or locally (*e.g.* on a machine at NeuroSpin).

**Are you planning to submit a Pull Request?**
- [X] Yes
- [] No

[2019-09-27 05:57] chaithyagr commented on #62
Hey @sfarrens , you could Checkout https://github.com/rapidsai/gpuci-build-environment , it's an Nvidia provided GPU Dockers for CI, but this just sets up the environment, the run location still needs to be explored in that regard

[2019-10-10 09:49] zaccharieramzi opened #65 "[BUG] Filter trimming doesn't work properly when using non square data"
**System setup**
OS: Ubuntu 16.04
Python version: v3.6.8

**Describe the bug**
When using `get_mr_filters` with the `trim` option to `True`, on non-square data, the trimming doesn't work properly, and the filter you get still has a lot of zeros in it and doesn't have the non-zero part centered.

**To Reproduce**
[code]
**Expected behavior**
We should trim even more in this situation.

**Module and

[2019-10-17 08:54] #65 closed

[2019-10-24 11:31] sfarrens commented on #48
Resolved in #52

[2019-10-24 11:31] #48 closed

[2019-10-24 11:51] LElgueddari opened #68 "[NEW FEATURE]: K-support norm proximity operator implementation"
**Is your feature request related to a problem? Please describe.**
For multi-task learning or calibrationless method the k-support norm is a great structured sparsity norm

**Describe the solution you'd like**
The solution has originally been proposed by [McDonald](http://jmlr.org/papers/volume17/15-151/15-151.pdf) and the idea would be to implement Algorithm 1 page 18 in the special case of k-sup

[2019-10-24 15:34] LElgueddari opened #69 "[NEW FEATURE]: Ridge et Elastic Net as regularization"
**Is your feature request related to a problem? Please describe.**
Ridge & Elastic-net are considered as traditional regularization for predictions, It also enables other applications such as parallel MRI reconstruction

**Are you planning to submit a Pull Request?**
- [X] Yes
- [ ] No

[2019-11-04 12:47] sfarrens commented on #69
resolved in #70

[2019-11-04 12:47] #69 closed

[2019-11-14 12:52] LElgueddari opened #72 "[BUG]: skimage.metrics only exists for python version > 3.6"
**System setup**
Python version: [e.g.] v3.5

**Describe the bug**
scikit-image dropped the support of python 3.5, making  SSIM unusable in python 3.5 even if scikit-image has been installed.

**Module and lines involved**
for more information see scikit-image  [release note](https://github.com/scikit-image/scikit-image/blob/master/doc/release/release_0.16.rst) that is involved in [ssim](https://g

[2019-11-20 15:23] sfarrens commented on #72
Resolved in #73

[2019-11-20 15:23] #72 closed

[2019-11-26 09:05] MorganSchmitz opened #74 "[QoL] Add Identity() as default linear in Sparsity prox"
**Is your feature request related to a problem? Please describe.**
[opt.proximity.SparseThreshold](https://github.com/CEA-COSMIC/ModOpt/blob/master/modopt/opt/proximity.py#L130) requires a `linear` operator as input I think it'd be good to have a default set up.

**Describe the solution you'd like**
`opt.linear.Identity` would be the natural choice.

**Are you planning to submit a Pull Request?**

[2019-11-26 09:07] MorganSchmitz opened #75 "[QoL] Consistent naming scheme for step size parameters in FB/GFB"
**Is your feature request related to a problem? Please describe.**
The main step size parameter is called `beta_param`  in FB but `gamma_param` in GFB. I know these are so they exactly match the papers cited, but I think it might be easier on the user if they had the same name?

**Describe the solution you'd like**
Maybe forego letters completely and just call them `step_size`...?

**Are you plann

[2019-11-29 17:13] chaithyagr commented on #61
Reviving this issue.
We may have to split up this PR.

@zaccharieramzi and @sfarrens here is what I propose as individual PRs

- [ ] Utils:
     - Configuration check, ie, have a variable that notifies if GPU compute is even possible, this sets the stage for many other computations.
     - Find where data resides based on input
     - Move data to a specific target (CPU / GPU)
     - Obtain the mo

[2020-01-10 08:52] sfarrens commented on #68
Resolved in #71

[2020-01-10 08:52] #68 closed

[2020-01-10 16:02] chaithyagr opened #77 "[BUG] filter_convolve is not compatible with latest scipy"
With recent scipy release in December 2019, the filter convolve seems to be having issues:

[code]
[code]

**Are you planning to submit a Pull Request?**
- [ ] Yes
- [X] No

[2020-01-17 10:36] chaithyagr commented on #60
@zaccharieramzi I think we can continue our conversations here as they will be documented.

We were still discussing on which is best way to move from CPU to GPU versions of codes. @zaccharieramzi made a right point that moving to tf or torch would ensure that we need to validate the codes only on CPU on travis while the GPU versions are guranteed to run. My opinion is that the amount of codes tha

[2020-01-17 13:29] zaccharieramzi commented on #60
Well the first thing is I think we need to understand which parts of the code exactly need to be modified. To me it's not all clear.

By that I mean we need to spot:
- initialization of numpy variables (be it from numpy or from data). Normally this should be easy to migrate to either cupy, torch, tf
- operations on numpy variables:
	* assignments on slices (tricky on tf, don't know for cupy or tor

[2020-01-17 20:05] grlee77 commented on #60
Most advanced indexing works in CuPy, although there are a few corner cases that do not behave exactly as in NumPy.  This is documented at:
https://docs-cupy.chainer.org/en/stable/reference/difference.html

This is also covered in the link above for CuPy. Basically things like `x.mean()` that would return a scalar instead return a 0-dimensional `cupy.ndarray` to avoid device/host transfer overhead

[2020-01-18 13:23] zaccharieramzi commented on #60
Yes in particular [out-of-bounds indices](https://docs-cupy.chainer.org/en/stable/reference/difference.html#out-of-bounds-indices) which strongly suggests that we will need 2 different CIs one for CPU and one for GPU, which I feel is a huge burden.

Your second point is definitely in favor of `cupy`.

[2020-01-20 09:55] chaithyagr commented on #60
I think at this point we just need to debate about tradeoff of having 2 CIs vs amount of extra codes / code changes needed.
..........................................
It looks like my earlier replies from my phone didnt make through for some reason, but @grlee77 did answer some parts.

I agree with you that the operators surely are the costly operations. In my opinion, both algorithm and operator

[2020-01-20 10:03] zaccharieramzi commented on #60
Of course, but my main point is about the order in which to tackle these problems.

[2020-01-22 14:19] chaithyagr opened #79 "[BUG] Fix unsorting of data in Ordered weight L1 Norm and also ensure we error out in case we use increasing weights"
**Describe the bug**

1)

https://github.com/CEA-COSMIC/ModOpt/blob/621598738a5048dc72f3baa3e11f06f2071a65bc/modopt/opt/proximity.py#L521-L523

The above codes is supposed to unsort the data however this is wrong in current state.

I will move this to as proposed by @zaccharieramzi  in https://github.com/CEA-COSMIC/ModOpt/pull/52#discussion_r337008989

2)

https://github.com/CEA-COSMIC/ModOpt/blob

[2020-01-24 16:00] #79 closed

[2020-01-31 14:04] sfarrens commented on #74
@MorganSchmitz This is a nice idea, but since `linear` is a positional argument it would mean changing every call to this class in every package that uses it.

An alternative would be to include a new linear operator object (*e.g.* just called `Threshold`) that uses Identity by default.

If this will work for you I can make a PR for this.

[2020-01-31 14:32] sfarrens commented on #75
@MorganSchmitz I think it would be pretty easy to add a generic `step_size` parameter to the parent class of the algorithms, which could be used to set the algorithm specific parameter values.

I will open a PR for this.

[2020-01-31 15:14] MorganSchmitz commented on #74
Ah, I see the issue with just adding a default...

I am not sure I understand your suggested workaround though. Do you mean creating a whole new proximity operator that acts the exact same way as `SparseThreshold`, but comes with a default identity ``linear operator''?

If so, couldn't this get confusing for new users, who would not be sure which of the two they should use?

I guess another workar

[2020-01-31 16:16] chaithyagr opened #81 "[BUG] Fix LinearComposition operator"
**Describe the bug**
Currently the linear composition operator carries out linear operation and adjoint operation, this must not be done as all the algorithms generally carry out the proximity on the wavelet domain coefficients directly.

https://github.com/CEA-COSMIC/ModOpt/blob/609ecded944b6bfd746106c917d6043219701fa4/modopt/opt/proximity.py#L319-L321

The fix is minor, we just need to remove th

[2020-01-31 16:23] chaithyagr opened #82 "[NEW FEATURE] COmposition Operator"
**Is your feature request related to a problem? Please describe.**
We need a composition operator that takes in a vector of operators and carries out composition.
These indivitual operations can as well be proximity or linear operators. This way we can implement SparseGroupLASSO as GroupLASSO(SparseThreshold) and so on.

**Describe the solution you'd like**
Implement a class as:

[code]

**Are you

[2020-01-31 17:30] zaccharieramzi commented on #81
@chaithyagr I don't understand what you are saying.
Linear composition prox is to define the prox of the following form: `norm_w_known_prox(psi . x)`. For this you need the formula implemented, stated in the cited paper.

What you replaced in the PR is just for `norm_w_known_prox(x)`.

[2020-01-31 19:49] chaithyagr commented on #81
@zaccharieramzi I understand the point you are making.
I completely agree that based on the given paper, the actual operator doesnt make any sense at all.

However, I am coming from usability standpoint. Let me use the case of SparseThreshold for this.
SparseThreshold takes in a linear operator and a weight to threshold data which is coefficients in wavelet domain (assuming linear operator is wave

[2020-02-01 09:49] zaccharieramzi commented on #81
I don't understand your point.
`LinearCompositionProx` is right now correctly implemented, by which I mean that it implements the formula of the paper.
`SparseThreshold` is basically the proximity operator of `l1_norm(x)`. For usability in the primal-dual methods (variable splitting), we also allow to have a `linear_op` which allows a correct estimation of the cost associated.

However, `LinearCom

[2020-02-01 09:51] zaccharieramzi commented on #81
So yes I am seeing that `OWL` doesn't accept a linear op, it should for correct cost computation in the variable splitting cases, like in `SparseThreshold`.
Same for `GL`. To avoid the issue raised in https://github.com/CEA-COSMIC/ModOpt/issues/74 we should make sure the linear op is optional in those 2.

[2020-02-03 08:52] chaithyagr commented on #81
So what you are saying is basically have every Prox Op that we will implement, needs to have an extra linear_op, which by default would be Identity. This seems to be overkill just to handle the cases for variable splitting methods.

I was under the assumption that the purpose of `LinearCompositionProx` that we could use the usual `prox_op` for variable splitting methods. I surely agree that given

[2020-02-03 08:55] chaithyagr commented on #81
Renaming the issue and also removing the tag that it is a bug and adding enhancement

[2020-02-03 10:04] chaithyagr opened #84 "[NEW FEATURE] Call Metrics after last iteration"
Currently the mterics are called only after metric call period.

I would like to implement 2 things:
1) A Way to keep metric call period infinite, ie we dont call to metrics at all.
2) An option to call metric always at the end of iterations.

These 2 above features help a lot, especially in a grid search. We can obtain the values at say the beginning and end of iterations or maybe only at the end

[2020-02-03 13:19] zaccharieramzi commented on #81
However this is exactly what is done with `SparseThreshold`, I don't see why it's overkill then.
I agree that we could also change the way variable splitting method compute their costs. It would be more sensible in terms of delegation, but the `linear_op` solution doesn't appear that bad to me.

I don't understand what solution 2. is, but yes the other 2 are sensible in my opinion. We would need t

[2020-02-03 13:26] zaccharieramzi commented on #84
Sounds good

[2020-02-03 17:01] chaithyagr commented on #81
Oh sorry for bad writing. By 2 I just mean that we have an operator just to fix the cost call, which surely isnt right, as it doesn't exactly implement any function.

I will go ahead with fixing this in costOp in MRI and transfer this issue to pysap-mri

[2020-02-04 13:56] sfarrens commented on #74
@MorganSchmitz Yes, that should work fine, but I think it might be better to make `None` the default for weights so that an error (or warning) can be raised if nothing is provided. My only concern being that users might forget get to set the weights and thus the proximity operator is not really doing anything.

[2020-02-04 14:17] chaithyagr opened #85 "[BUG] Update ` get_notify_observers_kwargs` for POGM to return atleast one image space variable"
**Describe the bug**

Currently, POGM holds wavelet coefficients in all cases.
This causes issues in trying to define `ssim` and other related metrics that need input as an image.
Although this seems more of an enhancement issue, I am marking it as a bug as this breaks the functionality of metrics with POGM.

https://github.com/CEA-COSMIC/ModOpt/blob/609ecded944b6bfd746106c917d6043219701fa4/modopt

[2020-02-04 14:20] sfarrens commented on #85
@chaithyagr no problem, I will wait for the PR. 😃

[2020-02-04 14:33] chaithyagr commented on #74
If we plan to fix the cost operation, based on https://github.com/CEA-COSMIC/pysap-mri/issues/80 , doesnt that mean we can remove `linear_op` from SparseThreshold and expect the call to cost function be fixed?
Although I understand that this is legacy code and the movement must be comparatively slower.

[2020-02-04 15:37] chaithyagr opened #87 "[NEW FEATURE] Add supoort to ensure we never calculate cost"
Currently, we calculate cost at every N iterations through :
call:

https://github.com/CEA-COSMIC/ModOpt/blob/609ecded944b6bfd746106c917d6043219701fa4/modopt/opt/algorithms.py#L598-L600

actual per N:
https://github.com/CEA-COSMIC/ModOpt/blob/609ecded944b6bfd746106c917d6043219701fa4/modopt/opt/cost.py#L185-L190

However, there is no way to ensure that we never calculate cost function at all.
I pro

[2020-02-05 09:28] #85 closed

[2020-02-05 10:40] sfarrens commented on #87
@chaithyagr I think it is a really good idea to allow a `None` value for the cost interval. I am not as convinced it should be the default. It seems to be that the default should be the "safest" (by that I mean the user can trust the results as much as possible) rather than the fastest. I think a measure of the cost is pretty essential for the initial analysis, afterwards a faster approach can be

[2020-02-05 10:50] chaithyagr commented on #87
Sure, I had this doubt, thanks for confirmation.
However, in pysap-mri, I will make it None as default for us as seldom do we use the cost values, we are more concerned on the metrics (which has little or no overhead)
However, I understand that as Modopt is actual optimization toolbox, by default, it must calculate costs

[2020-02-05 10:55] sfarrens commented on #87
@chaithyagr Sounds good. Within the context of a plugin tool I think it is fine to make the default `None`.

[2020-02-06 15:02] sfarrens commented on #74
@chaithyagr Indeed. I will probably hold off opening a PR for this until we have a clear plan for how we want to handle the cost contribution from proximity operators.

[2020-02-06 15:10] chaithyagr commented on #74
Yes makes sense..

[2020-02-06 15:11] #84 closed

[2020-02-06 15:11] #87 closed

[2020-02-11 09:19] #75 closed

[2020-04-01 19:21] bwohlberg opened #91 "[BUG] Inconsistent return type from modopt.signal.wavelet.get_mr_filters"
**System setup**
OS: Ubuntu 18.04
Python version: 3.7.6
Python environment (if any): conda v4.8.2
Numpy version: 1.18.1

**Describe the bug**
The return type of ``modopt.signal.wavelet.get_mr_filters`` depends on the value of parameter ``trim``. If ``False``, a 3D ndarray is returned, as expected from the function documentation, but if ``True``, an object array containing ndarrays of different sha

[2020-04-30 10:17] sfarrens commented on #77
@chaithyagr I have opened a PR (#93) to resolve this issue. I have tested your example with the latest version of Scipy (1.4.1) and it works.

[2020-04-30 11:03] sfarrens commented on #91
Hi @bwohlberg, apologies for the delay in responding to this issue.

I have opened a PR (#94) to resolve this. I have updated the documentation to clarify that behaviour you reported is expected. I have also set the default trim option to `False` to avoid unexpected outputs for the users. Once this PR is merged I will make a new release on PyPi.

Let us know if you have any other comments on this,

[2020-04-30 12:08] sfarrens commented on #45
@zaccharieramzi are you still planning a PR for this algorithm?

[2020-04-30 13:41] zaccharieramzi commented on #45
Not at the moment. Do you still want to keep this open? I will probably do it at some point but I don't think I can find the time right now.

[2020-04-30 13:43] sfarrens commented on #45
We can keep it open, I just wanted to check on the status. :)

[2020-04-30 14:16] #77 closed

[2021-01-18 16:34] tobias-liaudat opened #100 "[NEW FEATURE] Define verbose mode for warnings"
**Is your feature request related to a problem? Please describe.**
This is requested to solve this : [issue](https://github.com/CosmoStat/mccd/issues/2) on the MCCD package.

In summary, the MCCD algorithms uses some optimization algorithms form the ModOpt package. For that the gradient class `GradParent()` is used from `.opt.gradient.py` and the function `check_npndarray()` from `.base.types.py`

[2021-01-19 09:10] sfarrens commented on #100
@tobias-liaudat I agree with what you have proposed. You ticked that you are planning a PR for this. If so, I will wait to check it, if not let me know and I will open a PR.

[2021-01-19 16:36] #100 closed

[2021-01-19 16:39] sfarrens opened #102 "[BUG] Sphinx bibtex error"
**Bug Summary**

In a recent [travis-ci job](https://travis-ci.org/github/CEA-COSMIC/ModOpt/jobs/7551952760) the following error was raised:

[code]

**Are you planning to submit a Pull Request?**
- [X] Yes
- [ ] No

[2021-03-04 20:14] mpound opened #103 "[HELP] Linear regression with errors"
Hi Samuel.  I have run through the notebook modopt_example.ipynb, and inverse_problems_1.ipynb and sparsity_1.ipynb in the CosmoStat/Tutorials ada branch, playing around with parameters to better my understanding.  I am wondering how one takes the next step of fitting the curve if there are known random errors in y (e.g. weighted fit).    Is it a term added to the cost function?  Is there a modopt

[2021-03-05 20:20] mpound commented on #103
ok, **H** changes to  **(X<sup>T</sup> W X)<sup>-1</sup> X<sup>T</sup> W**,  where **W** are the weights.
I'm not yet reproducing the correct answer with W=1 but I think the above is correct.

[2021-03-08 09:16] sfarrens commented on #103
Hi @mpound, apologies for the delay in addressing this issue. I was not available last week.

I have not really thought about a weighted fit example. I mainly use these basic regression problems as very simple way to illustrate how convex optimisation works. I assume that given the points in x, y and the weights the problem can still be solved analytically, in which case it would be a simple case

[2021-03-08 13:57] mpound commented on #103
Hi Samuel.   Yes, the simple regression problem could be solved in other ways.    I am trying to teach myself using the simple understandable case before moving on to more complex ones.  I'm not typically used to thinking of things in linear algebraic terms so I have to familiarize myself with that.   Ultimately, my goal is to fit a combination of linear functions at all pixels in a spatial map an

[2021-03-08 14:58] sfarrens commented on #103
@mpound That makes sense. I will try to find some time to add a simple example using weighted data points so that you can have a better idea of how to manipulate the appropriate ModOpt objects for your application. This could be helpful for other users also.

[2021-03-09 14:30] mpound commented on #103
@sfarrens   Here is a sample method for applying weights to a fit.  I tested it on the linear and polynomial fit examples in inverse_problems_1.ipynb.
[code]

[2021-03-11 14:44] zaccharieramzi opened #105 "[NEW FEATURE] Make clear how to use metrics in algorithms"
**Is your feature request related to a problem? Please describe.**
Some users may have a hard time understanding how to use metrics in optimization algorithms.

**Describe the solution you'd like**
It could be nice to have:
- a clear documentation on this;
- links to examples.

**Are you planning to submit a Pull Request?**
- [ ] Yes
- [X] No

[2021-03-25 13:22] sfarrens commented on #102
Travis-CI dropped in #104 in favour of GitHub Actions.

[2021-03-25 13:22] #102 closed

[2021-03-31 09:15] pyup-bot opened #106 "Initial Update"
The bot created this issue to inform you that pyup.io has been set up on this repo.
Once you have closed it, the bot will open pull requests for updates as soon as they are available.

[2021-04-12 09:00] chaithyagr opened #110 "[BUG][URGENT] Metrics dont work right in new release"
**System setup**
OS: [e.g] macOS v10.14.1
Python version:  v3.6.10
Python environment (if any): [e.g.] conda v4.5.11

**Describe the bug**
I was recently moving from old to new version of modopt for some of other packages that use modopt.
I see the error on metrics:

I believe the error is coming from here:

https://github.com/CEA-COSMIC/ModOpt/blob/616c9e719f99d9ed1a1a80c9b74b76d71ca2fcf4/modopt/

[2021-04-14 11:27] sfarrens commented on #110
Good spot @chaithyagr!

I can't remove the latest release as it is already used elsewhere, but we can simply release a new patch (1.5.1) with this bug fix. I can then use this patch in the PySAP release.

Are you planning to add this to #111?

[2021-04-14 14:12] chaithyagr opened #113 "Have more basic operator classes"
Currently, we have `GradParent` and `ProxParent` base classes.

However, it would help to have a more generic Base Operator classes, particularly linear operator class like the OperatorBase in pysap-mri :

https://github.com/CEA-COSMIC/pysap-mri/blob/90c9d12687660a266f029680359a532efdb0db3f/mri/operators/base.py#L9

A similar base class with just op method could be used for Gradient and Proximity.

[2021-04-14 14:41] #110 closed

[2021-04-14 14:42] #106 closed

[2021-04-14 14:54] chaithyagr commented on #110
Didnt get at it... Maybe we repurpose this issue for it?

[2021-04-16 08:44] chaithyagr opened #115 "[BUG][URGENT] FISTA and POGM converge in single iteration!"
**System setup**
OS: [e.g] macOS v10.14.1
Python version: [e.g.] v3.6.7
Python environment (if any): [e.g.] conda v4.5.11

**Describe the bug**
Currently, FISTA and POGM algorithms seem to converge in a single iteration.
The reason being that we have added a comma for python style guide:

https://github.com/CEA-COSMIC/ModOpt/blob/616c9e719f99d9ed1a1a80c9b74b76d71ca2fcf4/modopt/opt/algorithms.py#L1

[2021-04-22 17:35] chaithyagr commented on #115
I think we can close this. This was addressed in #114

[2021-04-22 17:35] #115 closed

[2021-06-11 13:48] tomMoral opened #144 "New release 1.5 broke some downstream code"
Hello,

Thanks for this nice optimization package. We are developing a framework for automatic benchmarking of optimization libraries called [`benchopt`](https://benchopt.github.io) where we included [`modopt` for the lasso](https://github.com/benchopt/benchmark_lasso/pull/7) (with the help of @zaccharieramzi ). I just wanted to report here that the latest release `1.5` broke our down stream code

[2021-06-12 09:58] sfarrens commented on #144
Hi @tomMoral, thanks for the feedback it is very much appreciated.

- The API issue is 100% my fault and fell through the cracks as I rushed to get the last release finished on time, so sorry about that.
- The pinned dependencies was deliberate as we were aiming to keep all of PySAP consistent and still maintain support for Python 3.6. I will take another look at this and see if I can keep everyth

[2021-06-12 12:44] agramfort commented on #144
@sfarrens what is common practice is to have CIs that run both the minimal dependencies and the current stable. Pinning dependencies will lead to situations where 2 software are simply incompatible in the same environment.

[2021-06-14 07:45] sfarrens commented on #144
I will look into this, thanks @agramfort!

[2021-07-16 07:32] chaithyagr commented on #61
@sfarrens i think this can be closed. Most of the things are addressed here..

[2021-07-16 07:33] chaithyagr commented on #60
@sfarrens same goes here.. We can open separate issues if needed... I just realized I can close it. Feel free to reopen it if you disagree with me

[2021-07-16 07:33] #60 closed

[2021-07-16 07:33] #61 closed

[2021-07-20 10:55] Biagig opened #155 "[BUG] Possible error in Ridge proximal operator"
**System setup**
modopt version: v1.5.1

**Describe the bug**
Using Ridge in a reconstruction (with Condat in my case) raises a ValueError: dimension mismatch. Other similar proximity operators (SparseThreshold or ElasticNet) don't have this issue.
Ridge applies the _linear operator to the input_data before applying the thresholding operations, but when running a reconstruction, this input_data is

[2021-09-10 14:58] agramfort opened #169 "please don't pin numpy versions"
just sharing my experience now...

I just tried to install modopt on my conda env. As you pin requirements and you don't provide conda packages
I had to use pip. Doing so just downgraded numpy on my env and simply broke all my installation.

please please avoid pinning numpy versions (use >= and not ==) and consider pypi and conda packages

🙏

[2021-09-10 15:02] sfarrens commented on #169
Hi @agramfort this is something we will be fixing soon. Sorry for the inconvenience.

[2021-11-24 12:51] mathurinm commented on #169
:+1: pinning makes installation harder than it should be

let me know if I can help !

[2021-11-24 12:53] sfarrens commented on #169
Hi @mathurinm thanks for your interest. There is actual a good reason for why we did this as a temporary solution, but we will be removing the pinned versions for the next release, which is currently planned for mid December.

[2021-11-24 13:02] agramfort commented on #169
could you do it ASAP on master branch and we install master in benchopt?
we don't need to wait for a release in benchopt

[2021-11-24 13:04] sfarrens commented on #169
Hi @agramfort, absolutely. Apologies for the delay, I didn't realise you didn't need the formal release. I will do it this week and ping you.

[2021-11-24 13:07] agramfort commented on #169
thanks !

[2021-11-26 16:22] sfarrens commented on #169
@agramfort I have unpinned the package dependencies (at least those needed by users) in #189. This is currently available in the [develop](https://github.com/CEA-COSMIC/ModOpt/tree/develop) branch. Let me know if specifically need these changes in the master branch, if so I will merge this straight away. Otherwise, this will be merged for the next release (on or before 17/12/21).

[2021-11-29 16:13] paquiteau opened #194 "[NEW FEATURE] Gradient Descent Algorithms and accelerations methods"
With the integration of online forward-backward algorithms to pysap-mri, come also the need for Machine-Learning inspired gradient descent acceleration (eg. Momentum, SAGA, etc ...).

A solid draft of these algorithm implementation is available [here](https://github.com/paquiteau/pysap-mri-online/blob/master/online/optimizers/gradescent.py).

This include:
- Vanilla Gradient Descent
- Epoch descen

[2021-12-10 09:51] sfarrens commented on #194
Resolved in #194

[2021-12-10 09:51] #194 closed

[2021-12-17 16:54] sfarrens commented on #169
Resolved in #189

[2021-12-17 16:54] #169 closed

[2021-12-17 16:55] sfarrens commented on #144
Pinned dependencies removed in #189

[2021-12-17 16:55] #144 closed

[2021-12-17 17:21] pyup-bot opened #201 "Invalid .pyup.yml detected"
The bot encountered an error in your `.pyup.yml` config file:

[code]

You can validate it with this [online YAML parser](http://yaml-online-parser.appspot.com/) or by taking a look at the [Documentation](https://pyup.io/docs/bot/config/).

[2021-12-18 07:07] tomMoral commented on #144
:pray: nice, we will be able to update our benchmarks to include back `ModOpt`.
Thanks!

[2021-12-20 12:44] mathurinm opened #204 "[NEW FEATURE] leave possibility to keep data writeable"
**Is your feature request related to a problem? Please describe.**
After calling a modopt solver on `X, y`, I can no longer call a sklearn.linear_model.Lasso on it, because modopt has made X and y not writeable.

**Describe the solution you'd like**
The check_npdarray has a `writeable` parameter but it's not exposed at the solver level, hence I don't think the user can control it.

Code to reprodu

[2021-12-21 10:43] sfarrens commented on #204
Hi @mathurinm, thanks for opening a clear issue on this. I am currently on holiday but I will be happy to investigate and get back to you in January.

[2022-01-29 13:57] paquiteau opened #211 "[BUG] PowerMethod is not implemented right."
**Describe the bug**
The PowerMethod algorithm implemented in `math/matrix.py` is not right, we are using the old norm to divide, and not the norm of the new estimate of the eigen vector.

see [here](https://github.com/CEA-COSMIC/ModOpt/blob/master/modopt/math/matrix.py#L352)
[code]

The Pull Request is on the way.

[2022-02-01 15:17] sfarrens commented on #204
Hi @mathurinm, I have opened PR #213 to add this feature. This should allow the above script to run successfully by using `input_data_writeable=True`.

[code]

Once merged this will be available in the `develop` branch. The next planned release for ModOpt is around April. If you need this feature in a tagged release before then we can probably release an early patch.

[2022-02-17 16:31] paquiteau opened #216 "[NEW FEATURE] switch from progressbar to tqdm"
When running multiples algorithms sequentially (like for instance reconstructing 800 volumes of an fMRI scan), the output gets cluttered by progressbars .

[tqdm](https://github.com/tqdm/tqdm) is the goto package nowadays for progress bar displays and management. It is faster, lighter, allows for nested progress bar and has great notebook support.

What I propose is to add a `progressbar` argument

[2022-03-07 16:13] sfarrens opened #217 "Update contribution guidelines for ModOpt"
Add code and documentation style guidelines for ModOpt

[2022-03-31 14:28] mathurinm opened #220 "[BUG] error in error message when unknown strategy for FISTA"
**System setup**
With the develop branch

**Describe the bug**
Passing an unknown restart strategy to ForwardBackward does not say it is unknown, but raises a lower level error.

[code]
**To Reproduce**
[code]

[2022-03-31 15:15] mathurinm opened #221 "[BUG] Fista restarted solver diverges after having reached solution on Lasso problem"
![image](https://user-images.githubusercontent.com/8993218/161089470-4b201b1b-e03f-4ad4-9da7-3327e206dd03.png)

reproduce with
[code]

ping @agramfort @tommoral

[2022-03-31 16:26] sfarrens commented on #221
@zaccharieramzi will you have any time to look into this at some point?

[2022-04-08 16:16] sfarrens commented on #204
Hi @mathurinm the ModOpt v1.6.1 patch has been release and is available on PyPI. Apologies for the delay!

I believe this issue has now been resolved. Please feel free to reopen if you believe something else needs to be addressed. :)

[2022-04-08 16:16] #204 closed

[2022-04-13 14:14] mathurinm opened #225 "[NEW FEATURE] DOC: add a few examples on least squares, lasso, enet"
**Is your feature request related to a problem? Please describe.**

It is a bit hard for a newcomer to get all the building bricks (algorithm, gradient, prox) and their syntax, also because the signature of some classes is `*args, **kwargs` (eg GradBasic).

**Describe the solution you'd like**
Adding some examples may help. Here's code that you can reuse for OLS and Lasso:

[code]

**Describe alte

[2022-04-13 15:23] sfarrens commented on #225
Hi @mathurinm thanks for the suggestion. We are aiming to improve the documentation for the next PySAP release, so this is really helpful feedback. I will get back to you regarding the example folder etc.

[2022-04-14 13:52] chaithyagr opened #226 "Can we supress unwanted warning?"
In modopt, we present a warning if the gradient and proximity operators dont come from the base classes. However, we do not have very simple basic classes yet given #113 . These warnings below come up in almost every iteration, which makes it very frustating.

Can we suppress it by default (personally I don't feel they add much value). Or can we maybe have user control over it through rc files (lo

[2022-04-19 08:33] paquiteau commented on #113
Instead of checking the parents/ grand-parents and the whole family tree, why not check only if the child class has the correct methods availables ? Its easily doable using the built-ins `hasattr` and `callable`.

[2022-05-12 07:23] mathurinm opened #232 "[NEW FEATURE] add a way to silence import warning errors"
**Is your feature request related to a problem? Please describe.**
I don't have astropy installed and don't plan on installing it: I get a lot of "WARNING: astropy not found, will default to scipy for convolution" that I'd like to silence when I run benchopt.

**Describe the solution you'd like**
If the warning was of a specific class I could ignore it, or there could be a way to globally configur

[2022-09-08 09:19] patquem opened #246 "[BUG] : Please don't color 'WARNING'"
Hello,
When coloring warning messages with yellow (in modopt/interface/errors.py line 39), this engenders special characters [33mWARNING[0m that make big trouble during xml reports generation/interpretation.
Could you please remove the colorization ?
(it could be the same for ERROR message).
Thanks,
Patrick

[2022-11-14 15:06] #216 closed

[2022-11-14 15:12] paquiteau commented on #226
Actually, you can do it on your end, using `warnings.filterwarnings('ignore', module='modopt') will remove all warnings of the Modopt module. More possibility are available here: https://docs.python.org/3/library/warnings.html#warnings.filterwarnings

[2022-11-14 15:14] paquiteau commented on #232
as for #226  you can do it on your end, using warnings.filterwarnings('ignore', module='modopt') will remove all warnings of the Modopt module. More granularity for the filter is describe here: https://docs.python.org/3/library/warnings.html#warnings.filterwarnings

[2022-11-14 15:15] #211 closed

[2022-11-15 14:43] paquiteau opened #262 "[NEW FEATURE] Refactoring of test"
**Is your feature request related to a problem? Please describe.**
ModOpt currently use unittest  module to perform tests, yet there is  strong redundancy in some cases (especially for `opt/test_algorithms.py` , and does not inspire to write new ones.

**Describe the solution you'd like**
Refactoring (part of) the test setup of ModOpt , using pytest - especially fixtures and parametrize functionna

[2022-11-15 14:58] paquiteau opened #264 "[BUG] Version conflic for flake8"
**System setup**
OS: Ubuntu
Python version: > 3.7
Python environment (if any): any

**Describe the bug**
CI Test suite is failling because of version conflict between flake8 and wemake-python-styleguide.

** Fix **
Relax the condition on flake8 package version , to allow > 5.0 versions
**Are you planning to submit a Pull Request?**
- [X] Yes